{% extends 'base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block main-content %}
<section class="featureds" >
<div class="container">
    <div class="title">Change Password</div>
    <div class="content">
      <form action="" method="post" class="changeform">
           {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}
             {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">Old Password</span>
            <input type="text" placeholder="Enter Old Password" name="oldpassword"required style="text-transform:none;">
          </div>
          <div class="input-box">
            <span class="details">New Password</span>
            <input type="text" placeholder="Enter New Password" name="newpassword" class="changePass_input" style="text-transform:none;" id="pass" onkeyup="check_pass()">
          </div>
          <div class="input-box">
            <span class="details">Confirm New Password</span>
            <input type="text" placeholder="Enter Confirm New Password"   class="changePass_input" id="cpass" style="text-transform:none;" onkeyup="check_pass()">
          </div>

        </div>

        <div class="button1">
          <input type="submit" value="Save" class="changePass_button" id="sbtn">
        </div>
          <div class="button1">
          <input type="submit" value="Cancel">
        </div>

      </form>
    </div>
  </div>
</section>
<script>
    function check_pass(){
    let p= $("#pass").val();
    let cp = $("#cpass").val();

    if( p == cp ){
         $("#pass").css("background-color", "rgb(150 236 180 / 78%)");
            $("#cpass").css("background-color", "rgb(150 236 180 / 78%)");
            $("#sbtn").removeAttr("disabled");
    }
    else{
    $("#pass").css("background-color", "#ec9696c7");
    $("#cpass").css("background-color", "#ec9696c7");
    $("#sbtn").attr("disabled", "disabled");
    }

    }

</script>

{% endblock main-content %}