{% extends 'base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block main-content %}


 <section class="news" id="news"><br>
            <div class="content"><br>
                <h3>monthly news letter</h3>
                <p> The company itself is a very successful company.
                    Run away but so we lead the most to do nothing are not convenient? Our pleasure?
                </p>
                <form action="">
                    <input type="email" placeholder="please enter your email" class="email">
                    <input type="submit" value="save" class="btn">
                </form>
            </div>
        </section>s





{% endblock main-content %}